h1{
    color: aliceblue;
}
label{
    color: aliceblue;
}
span{
    color: aliceblue;
}
h3{
    color: antiquewhite;
}
body {
    
    background-image: url('https://i.pinimg.com/564x/6f/0f/f1/6f0ff1b8cce396552ca06c108ed3f83b.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px,10px,10px,10px;
    padding: 20px,20px,20px,20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker';
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a0596;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .libro-container {
    margin-bottom: 30px;
  }
  
  .libro-container img {
    max-width: 50px; /* Ajusta el ancho máximo de la imagen según tu preferencia */
    margin-right: 10px;
  }
  
  .total-container {
    margin-top: 20px;
  }
  