body {
    background-image: url('https://i.pinimg.com/originals/ae/3d/62/ae3d6215a590f15a8ef3928789829ec9.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px,10px,10px,10px;
    padding: 20px,20px,20px,20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker';
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a0596;
    margin: 0;
}

h1 {
    
    font-family: 'Cinzel Decorative', cursive;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #333;
    padding: 10px 20px;
    border: 2px solid #ff4500;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;

    background-color: #dad6df;
    color: #411dcf;
    padding: 20px;
}
#order-form {
  
    background-color: #e41717;
    border: 1px solid #dad4d4;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}
label, select, input {
    display: block;
    margin: 10px 0;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#total {
    font-weight: bold;
}