/* Estilos para el elemento h1 */
h1 {
    text-align: center; /* Centra el texto */
    font-family: 'Josefin Sans', sans-serif; /* Establece la fuente del texto */
    font-family: 'Permanent Marker', cursive; /* Sobrescribe la fuente anterior */
    color: rgb(17, 11, 11); /* Establece el color del texto */
    font-weight: 1000000; /* Establece el peso de la fuente (nota: este valor es inusualmente alto) */
    margin-left: 20px; /* Establece el margen izquierdo */
    font-size: 45px; /* Establece el tamaño de la fuente */

    text-shadow: 2px 2px rgb(212, 92, 218); /* Agrega una sombra al texto */}
    body {
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }