/* Estilos para el elemento h1 */
h1 {
    text-align: center; /* Centra el texto */
    font-family: 'Josefin Sans', sans-serif; /* Establece la fuente del texto */
    font-family: 'Permanent Marker', cursive; /* Sobrescribe la fuente anterior */
    color: rgb(17, 11, 11); /* Establece el color del texto */
    font-weight: 1000000; /* Establece el peso de la fuente (nota: este valor es inusualmente alto) */
    margin-left: 20px; /* Establece el margen izquierdo */
    font-size: 45px; /* Establece el tamaño de la fuente */
    text-shadow: 2px 2px rgb(212, 92, 218); /* Agrega una sombra al texto */
}

/* Estilos para el cuerpo (body) de la página */
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* Estilos para el contenedor */
.contenedor {
    padding: 100px; /* Establece el espacio de relleno */
    color: #110c0c; /* Establece el color del texto */
    font-size: 25px; /* Establece el tamaño de la fuente */
    text-shadow: 2px 2px rgb(13, 3, 14); /* Agrega una sombra al texto */
}

/* Estilos para el formulario con el id "formulario" */
#formulario {
    margin-top: -7%; /* Establece el margen superior en un porcentaje negativo */
    margin-bottom: -6%; /* Establece el margen inferior en un porcentaje negativo */
    margin-right: auto; /* Establece el margen derecho automáticamente */
    margin-left: auto; /* Establece el margen izquierdo automáticamente */
    background-color: #0e0d0c; /* Establece el color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Establece el color del texto */
    padding: 15px 32px; /* Establece el espacio de relleno */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina la decoración de texto predeterminada */
    display: inline-block; /* Hace que el elemento sea un bloque en línea */
    font-size: 16px; /* Establece el tamaño de la fuente */
    margin: 4px 2px; /* Establece los márgenes */
    cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
}