h1{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: rgb(17, 11, 11);
    font-weight: 1000000;
    margin-left: 20px;
    font-size: 45px;
    text-shadow: 2px 2px rgb(212, 92, 218);
    
}

body {
    background-image: url('https://i.pinimg.com/originals/7b/80/32/7b80322eebb5fcf318c5847970459d7b.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px,20px,20px,20px;
    padding: 20px,20px,20px,20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker';
    

}

.contenedor {
    padding: 100px;
    color: #110c0c;
    font-size: 25px;
    text-shadow: 2px 2px rgb(13, 3, 14);
    
}
#formulario {
    margin-top: -7%;
    margin-bottom:-6% ;
    margin-right : auto;
    margin-left:auto;
    background-color: #0e0d0c; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}